@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 90px 0 0 0;
    font-family: "Roboto", serif;
}

h1 {
    color: white;
    font-family: "Jura", serif;
}

header {
    width: 100%;
    top: 0;
    left: 0;
position: fixed;
 background-color: #00AC6B;
 display: flex;
 align-items: center;
 justify-content: space-between;
}


h1 {
    padding-top: 22px;
}

.sectorp {
    color: white;
    padding-left: 40px;
    text-align: justify;
    font-size: 1.5em;
}

.sectorp2 {
    color: white;
    padding-right: 40px;
    text-align: justify;
    font-size: 1.5em;
}

.sectorimg {
    width: 150%;
}

.info {
    padding: 50px 50px 0 50px;
    background-color: #60D6A9;
}

.infom {
    padding: 0 50px 20px 50px;
    background-color: #60D6A9;
}

.sector {
    background-color: #007046;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mtext {
    font-size: 30px;
    color: white;
    font-family: "Jura", serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}




a {
    text-decoration: none;
    color: white;
}



.img {
    padding: 0;
    margin: 0;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.logoimg {
    padding: 15px ;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nava {
    padding-right: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

footer {
    background-color: #007046;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


   
.logof {
    display: flex;
    align-items: center;
}
   
.logofimg {
    padding: 15px ;
    width: 10%;
}

h6 {
    color: white;
    font-family: "Jura", serif;
}

.iconsimg {
    width:20%;
    margin-right: 20px;
}