@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}


body {
    max-width: 100vw;
    margin: 90px 0 0 0;
    font-family: "Roboto", serif;
}

.sb {
    border: white 0 0;
}

.best-topor {
    min-height: 30vh;
    padding-bottom: 50px;
    background-image: url(images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#info-h3 {
    font-size: 40px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-p {
    font-size: 25px;
    color: white;
    width: 1100px;
    text-align: center;
}

.info > .mtext {
    font-size: 30px;
}

.info-button {

    transition: transform 500ms;
    font-size: 25px;
    margin: 20px 0 ;
    padding: 1% 6%;
    border-radius:50px ;
    border:1px black solid ;
}

.info-button:hover {
    box-shadow: 0px 5px 10px 0px black;
    transform: scale(1.2);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.info-button:active {
    text-decoration: underline;
}

.si {
    border: white 1px solid;
    border-radius: 40px;
    padding: 10px;
    width: 300px;
}

.si:focus {
    border: black 1px solid;
}

.si:hover {
    border: black 1px solid;
}

.button-search {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.button-search:hover {
    cursor: pointer;
}

.mainbot {
    padding-bottom: 165px;
}

#anim1 {
    animation: pulse 4s infinite;
}

h1 {
    color: white;
    font-family: "Jura", serif;
}

header {
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
position: fixed;
 background-color: #00AC6B;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.lcarta {
    transition: transform 500ms;
    box-shadow: 0px 2px 1px 0px #2E2F4214;
    box-shadow: 0px 1px 1px 0px #2E2F4229;
    box-shadow: 0px 1px 6px 0px #2E2F4214;
    background-color:#20815D ;
    display: flex;
    border: solid 1px #00AC6B;
    border-radius: 7px;
    flex-direction: column;
}

.search-stroke {
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.lcarta:hover {
    box-shadow: 0px 5px 10px rgba(46, 47, 66, 0.15), 0px 5px 5px rgba(46, 47, 66, 0.15), 0px 5px 5px rgba(46, 47, 66, 0.15); 
    transform: scale(1.2);
    border: black solid 1px;
    ; 
}

h1 {
    padding-top: 22px;
}

.search {
    display: flex;
    background-color: #00AC6B;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: center;
}

.lupa {
    display: flex;
    flex-direction: column;
}

.lideri {
    display: flex;
    justify-content: space-around ;
}

.mtext {
    color: white;
    font-family: "Jura", serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}


a {
    text-decoration: none;
    color: white;
}

.lideriprodazh {
background-image:  linear-gradient(#00AC6B ,#60D6A9 ,#00AC6B );
}

.news {
    background-color: #00AC6B;
}

.lcartabot {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: #007046;
}

.img {
    padding: 0;
    margin: 0;
}

.lcartamid {
    
    color: white;
    text-align: center;
    background-color: #20815D;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.logoimg {
    padding: 15px ;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nava {
    padding-right: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

footer {
    background-color: #007046;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


   
.logof {
    display: flex;
    align-items: center;
}
   
.logofimg {
    padding: 15px ;
    width: 10%;
}

h6 {
    color: white;
    font-family: "Jura", serif;
}

.iconsimg {
    width:20%;
    margin-right: 20px;
}